body {
    background-color: #f8f9fa;
}
.container {
    margin-top: 100px;
    text-align: center;
}
.btn-registration {
    padding: 12px 24px;
    font-size: 18px;
    background-color: #ffa900;
    border: none;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
}
.btn-registration:hover {
    background-color: #ff7e00;
}
